@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');


*{
    box-sizing: border-box;
    font-family: 'JetBrains Mono', monospace;
    margin: 0;
    padding: 0;
}

html,
body {
	height: 100%;
	width: 100%;
}

main {
 	display: flex;
 	flex-direction: column;
 	justify-content: center;
 	align-items: center;
 	height: 100%;
 	width: 100%;
 }